* {
  box-sizing: border-box;
  margin: 0;
  background: rgb(56, 28, 82);
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(166, 185, 185);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 800px;
    padding: 50px;
    margin: 0 auto;
}

