* {
  box-sizing: border-box;
  margin: 0;
  background: rgb(197, 171, 137);
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(0, 0, 0);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 800px;
    padding: 50px;
    margin: 0 auto;
}

.title {
    font-size: 70px;
    font-weight: bold;
    max-width: 500px;
}

.restart {
    border: 2px solid rgb(30, 23, 12);
    border-radius: 40px;
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: bold;
}

.restart:hover {
    cursor: pointer;
    color: rgb(197, 171, 137);
    background-color: black;
    transform: scale(1.3, 1.3);
    transition: all 1s ease;
}

.game {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    color: rgba(9, 9, 6, 0.307);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.player-x {
    flex: 1;
    border-bottom: 5px solid;
    padding-bottom: 10px;
}

.player-o {
    flex: 1;
    border-bottom: 5px solid;
    padding-bottom: 10px;
}

.player-x.active {
    color: brown;
    border-color: brown;
}

.player-o.active {
    color:rgb(56, 122, 124);
    border-color: rgb(56, 122, 124);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    cursor: pointer;
    background: rgba(136, 120, 99, 0.206);
}

.tile:not(:nth-last-child(-n + 3)) {
    border-bottom: 3px solid rgb(20, 28, 35);
}

.tile:not(:nth-child(3n)) {
    border-right: 3px solid rgb(20, 28, 35);
}

.tile:hover {
    background: rgba(136, 120, 99, 0.628);
}
